@model UserProfileViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@Model.Username Profile Page</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/UserProfile.css" />
</head>

<body>
    <main>
        <header>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            <div class="header-wrap">
                <div class="profile-pic">
                    <img src="~/photos/@Model.Picture" alt="profile-logo" />
                </div>
                <div class="profile-info">
                    <div class="title row">
                        <h2>@Model.Username</h2>
                        <div class="button-container">
                            <a asp-action="EditProfile" asp-route-id="@Model.UserId" class="btn btn-primary edit-profile-btn">Edit Profile</a>
                            <a asp-action="ChangePassword" asp-route-id="@Model.UserId" class="btn btn-secondary change-password-btn" style="background-color: #fc5a8d">Change Password</a>
                        </div>
                    </div>
                    <div class="desktop-only">
                        <div class="details row">
                            <ul>
                                <li><span><b>Rank:</b></span> @Model.RankName</li>
                                <li><span><b>Points:</b></span> @Model.Points</li>
                            </ul>
                        </div>
                        <div class="descriptions row last">
                            <span><b>@Model.Username</b></span>
                            <span>
                                Hello!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <div class="gallery user-articles">
                @foreach (var article in ViewBag.Articles)
                {

                <div class="element-item category gallery-item">
                    <a class="portfolio_fullimage_layout" href="@Url.Action("ArticleDetail", "Articles", new { id = article.ArticleId })">
                        <img src="~/photos/@article.Picture" alt="gallery-post">
                        <span class="item_content item-content">
                            <strong class="item_title">@article.Title</strong>
                        </span>
                    </a>
                </div>
                }
            </div>
    </main>
</body>
</html>
