<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/Images/OS_Icon.png" type="image/x-icon" />
    <title>StrawberryHub</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Include site-specific CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- fraimwork - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <!-- icon font - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontawesome.css">

    <!-- carousel - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">

    <!-- popup - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">

    <!-- nice select - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/nice-select.css">

    <!-- custom - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!-- Include Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Include Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <style>
        :root {
            --text-color-dark: white;
            --bg-color-dark: black;
            --text-color-light: black;
            --bg-color-light: white;
            --one-berry-color: #fc5a8d;
            --link-color-light: black; /* Add this line */
            --link-color-dark: white; /* Add this line */
            --navbar-color-light: dimgrey; /* Add this line */
            --navbar-color-dark: white; /* Add this line */
        }

        body {
            background-color: var(--bg-color-light);
        }

        body * {
            color: var(--text-color-light);
        }

            body a { /* Add this block */
                color: var(--link-color-light);
            }

        body.dark-mode {
            background-color: var(--bg-color-dark);
        }

                body.dark-mode *:not(.one-berry) {
            color: var(--text-color-dark);
        }

        .navbar-item {
            color: black;
        }
        
        .one-berry {
            color: var(--one-berry-color);
        }

        .grey-button {
            color: grey;
        }
    </style>

    <script>
        const WEB_RPNOTES = '@(Url.Content("~/RPNotes"))';
        const EP_RPN_API = '@(Url.Content("~/api/RPNotes"))';
        const EP_EX_API = '@(Url.Content("~/api/Ex"))';
        const WEB_ROOT = '@(Url.Content("~/"))';

        $(document).ready(function () {
            $("#btnSaveNotes").click(c286Lesson12.updateNotes);
            $("#btnNewModule").click(c286Lesson12.addNewModule);
            $("#btnSaveTopic").click(c286Lesson12.addNewTopic);
            $("#btnNewAttachment").click(c286Lesson12.uploadNewAttachment);

            $("#btnNewTopic").click(function () {
                c286Lesson12.loadModulesForTopic();
                $("#txtNewTopicId").val("");
                $("#txtNewTopicTitle").val("");
            });

        })
    </script>
</head>

<body>
    <div class="body_wrap">
        <!-- backtotop - start -->
        <div class="backtotop">
            <a href="#" class="scroll" style="color: deeppink;">
                Back to top
            </a>
        </div>
        <div id="preloader"></div>
        <header class="header_section style_2">
            <div class="header_container justify-content-between">
                <div class="brand_logo">
                    <a class="brand_link" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/OS_Icon.png" alt="StrawberryHub" height="60" width="60" />
                    </a>
                    <button id="theme-switcher" style="color: deeppink; font-family: 'Arial', sans-serif;">Switch Theme</button>
                </div>

                <div class="header_info_wrap">
                    <nav class="main_menu navbar navbar-expand-lg">
                        <button class="mobile_menu_btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu_dropdown" aria-controls="main_menu_dropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fal fa-bars"></i>
                        </button>
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <div class="main_menu_inner collapse navbar-collapse" id="main_menu_dropdown">
                                <ul class="main_menu_list ul_li">
                                    <li class="dropdown">
                                        <a class="nav-link text-uppercase navbar-item" href="#" id="user_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            User
                                        </a>
                                        <ul class="submenu dropdown-menu" aria-labelledby="user_submenu">
                                            <li><a asp-area="" asp-controller="Users" asp-action="UserProfile">Profile</a></li>
                                            <!-- Add more user profile related pages here -->
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="nav-link text-uppercase navbar-item" href="#" id="articles_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Article
                                        </a>
                                        <ul class="submenu dropdown-menu" aria-labelledby="articles_submenu">
                                            <li><a asp-area="" asp-controller="Articles" asp-action="ArticlePage"> Read Articles</a></li>
                                            <li><a asp-area="" asp-controller="Articles" asp-action="CreateArticlePage"> Create Articles</a></li>
                                        </ul>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="dropdown">
                                            <a class="nav-link text-uppercase navbar-item" href="#" id="admin_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Admin
                                            </a>
                                            <ul class="submenu dropdown-menu" aria-labelledby="admin_submenu">
                                                <li><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                                                <li><a asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a></li>
                                                <li><a asp-area="" asp-controller="Reflections" asp-action="Index">Reflections</a></li>
                                                <li><a asp-area="" asp-controller="Ranks" asp-action="Index">Ranks</a></li>
                                                <li><a asp-area="" asp-controller="GoalTypes" asp-action="Index">Goal Types</a></li>
                                                <li><a asp-area="" asp-controller="Goals" asp-action="Index">Goals</a></li>
                                                <li><a asp-area="" asp-controller="EmergencySupports" asp-action="Index">Emergency Supports</a></li>
                                                <li><a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a></li>
                                                <li><a asp-area="" asp-controller="LikeComments" asp-action="Index">Like/Comment</a></li>
                                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </nav>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <ul class="header_contact_info ul_li_block">
                            <li>
                                <a href="#!">
                                    <span class="fs-5" style="color: hotpink; font-family: 'Arial', sans-serif;">
                                        Welcome @User.Identity.Name<br>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#!" style="text-align: center; display: block;">
                                    <span class="fs-6" style="color: hotpink; font-family: 'Arial', sans-serif;">
                                        (@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value)
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a asp-controller="Account" asp-action="Logoff"
                           asp-route-returnUrl="Home" class="btn btn-link fs-6 grey-button">
                                Sign Off
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <a asp-controller="Account" asp-action="Login"
                           asp-route-returnUrl="Home" class="btn btn-link fs-6 grey-button">
                                Login
                            </a>
                        </div>
                    }
                </div>
            </div>
        </header>
        <div class="container" style="margin-top: 100px;">
            <!-- Add a top margin to the main content -->
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                © 2024 - StrawberryHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

        quill.on('text-change', function () {
            document.querySelector('input[asp-for="ArticleContent"]').value = quill.root.innerHTML;
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById('theme-switcher').addEventListener('click', function () {
            document.body.classList.toggle('dark-mode');
        });
    </script>
    <!-- Include theme-specific JavaScript -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-plugins-collection.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("BootstrapTableScripts", required: false)
</body>
</html>
