@model IEnumerable<StrawberryHub.Models.StrawberryUserTask>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrawberryTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrawberryUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrawberryTask.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrawberryUser.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompletedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompletedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompletedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
