@model IEnumerable<StrawberryHub.Models.StrawberryRank>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@section BootstrapTableScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#jsRankTable').DataTable({
                scrollY: 500,
                ordering: true,
                searching: true,
                stateSave: true
            });
        });
    </script>
}

<table id="jsRankTable" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPoints)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RankId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RankId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RankId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
