@model StrawberryHub.Models.StrawberryLike

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StrawberryLike</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrawberryArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrawberryArticle.ArticleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrawberryUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrawberryUser.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LikeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
