@{
    ViewData["Title"] = "Home Page";
}
@model List<StrawberryTask>

<!-- Check if TempData["Success"] exists -->
@if (TempData["Success"] != null)
{
	<!-- Display the success message -->
	<div class="alert alert-success">
		@TempData["Success"]
	</div>
}
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<!-- Include the new theme's HTML content -->
<!-- You can replace the dummy text with data from your model -->
<!-- Make sure to update any paths to static assets (like images) to reflect their new location in the wwwroot folder -->
<body>
	<!-- banner_section - start -->
	<main>
		<section class="banner_section banar-section-hm3">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 col-md-6 order-last">
						<div class="banner_image" style="color: #404040; background-color: #A9A9A9;">
							<video autoplay loop muted plays-inline>
								<source src="~/Images/woods.mp4" type="video/mp4">
							</video>
							<!--<img src="assets/images/banner/WomanHomePage.jpg" alt="image_not_found"> -->
							<div class="round_text">
								<svg width="145" height="150" viewBox="0 0 145 150" fill="none" xmlns="http://www.w3.org/2000/svg">

								</svg>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-6">
						<div class="banner_content">
							<h1 class="banner_title text_effect_wrap">
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">Empowering Resilience </span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3 theme-text one-berry">One Berry </span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">At a </span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">Time</span>
									</span>
								</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- banner_section - end -->
		<!-- about_section - start
						================================================== -->
		<section class="about_section about-section-hm3 section_space pb-0">
			<div class="container">
				<div class="row">

					<div class="col-lg-3">
						<div class="section_title style_2">
							<h2 class="small_title">
								About us
								<span class="line"></span>
							</h2>
						</div>
					</div>

					<div class="col-lg-7">
						<div class="about_content mt-0">
							<div class="section_title style_2">
								<h3 class="big_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3 text-break">Welcome to</span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3 text-break">Our Strawberry Generation</span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3 text-break">Wellness App!</span>
										</span>
									</span>
								</h3>
							</div>
							<p class="p-0">
								Dedicated to individuals born in strawberry years who may experience breakdowns and easily give up.

								Our purpose is to Empower “strawberries” with tips and activities to overcome vulnerability and cultivate resilience.

							</p>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- about_section - end
		================================================== -->
		<!-- team_section - start
				================================================== -->
		<section class="team_section section_space pb-0">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5">
						<div class="section_title">
							<h2 class="small_title">
								Our Team
								<span class="line"></span>
							</h2>
							<h3 class="big_title text_effect_wrap">
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">Read Articles </span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">Created from</span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">Our Admins</span>
									</span>
								</span>
							</h3>
							<a class="btn_text" asp-action="AdminArticle" asp-controller="Articles">
								<span>See all Articles</span>
								<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 0V7.50063H9.16833V1.42131L0.587991 10L0 9.41015L8.57868 0.833125H2.49418V0H10Z" fill="white" />
								</svg>
							</a>
						</div>
					</div>

					<div class="col-lg-7 col-md-7">
						<div class="team_carousel_wrap">
							<div class="team_carousel row" data-slick='{"dots": false, "arrows": false}'>
								@if (ViewBag.TopAdminArticles != null)
								{
									@foreach (var article in ViewBag.TopAdminArticles)
									{
										<div class="slider_item col">
											<div class="team_grid_layout">
												<div class="team_person_image">
													<img src="~/photos/@article.Picture" alt="image_not_found">
												</div>
												<div class="team_content">
													<h3 class="team_person_name">@article.Title</h3>
													<span class="team_person_title text-uppercase">@article.PublishedDate.ToString("MMM dd, yyyy")</span>
												</div>
											</div>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
				<!-- team_section - end
				================================================== -->
		<!-- portfolio_section - start
						================================================== -->
		<section class="portfolio_section section_space pb-0">
			<div class="container">
				<div class="portfolio_split_layout">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7">
							<a class="item_image" asp-action="Stress" asp-controller="Articles">
								<img src="assets/images/banner/StressFreeImage.jpg" alt="image_not_found">
							</a>
						</div>
						<div class="col-lg-4 col-md-5">
							<div class="item_content">
								<ul class="item_category ul_li text-uppercase">
									<li><a href="#!">Style</a></li>
									<li><a href="#!">Creative</a></li>
								</ul>
								<h4 class="item_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Learn More </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">About </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Stress Management</span>
										</span>
									</span>
								</h4>
								<a class="btn btn_border border_light text-uppercase" asp-action="Stress" asp-controller="Articles">View More</a>
							</div>
						</div>
					</div>
				</div>

				<div class="portfolio_split_layout">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7 order-last">
							<a class="item_image" asp-action="Mental" asp-controller="Articles">
								<img src="assets/images/banner/MentalWellnessImage.jpg" alt="image_not_found">
							</a>
						</div>
						<div class="col-lg-4 col-md-5">
							<div class="item_content text-md-end">
								<ul class="item_category ul_li_right text-uppercase">
									<li><a href="#!">Style</a></li>
									<li><a href="#!">Creative</a></li>
								</ul>
								<h4 class="item_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Learn More </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">About </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Mental Wellness</span>
										</span>
									</span>
								</h4>
								<a class="btn btn_border border_light text-uppercase" asp-action="Mental" asp-controller="Articles">View More</a>
							</div>
						</div>
					</div>
				</div>

				<div class="portfolio_split_layout">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7">
							<a class="item_image" asp-action="NewHobbies" asp-controller="Articles">
								<img src="assets/images/banner/Singaporebooth.jpg" alt="image_not_found">
							</a>
						</div>
						<div class="col-lg-4 col-md-5">
							<div class="item_content">
								<ul class="item_category ul_li text-uppercase">
									<li><a href="#!">Style</a></li>
									<li><a href="#!">Creative</a></li>
								</ul>
								<h4 class="item_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Learn More </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">About </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">New Hobbies</span>
										</span>
									</span>
								</h4>
								<a class="btn btn_border border_light text-uppercase" asp-action="NewHobbies" asp-controller="Articles">View More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- portfolio_section - end
		================================================== -->
	</main>
	
</body>

<div class="modal" id="newAttachmentModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="color:black">Daily Task</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" />
			</div>
			<div class="modal-body">
				<div class="row mb-2">
					<form enctype="multipart/form-data" id="fmAttachment">
						@if (ViewBag.TasksToShow != null)
						{
							@foreach (var task in ViewBag.TasksToShow)
							{
								<li style="margin-bottom: 10px;">
									<label style="color: black" for="task-@task.TaskId" value="@task.PointsReward">@task.TaskDescription</label>
									<input type="checkbox" id="task-@task.TaskId" style="vertical-align: middle; margin-right: 10px;" />
								</li>
							}
						}
						else
						{
							<p>Congratulations! You have finished all you tasks! See you tmr!</p>
						}
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary borderR" data-bs-dismiss="modal" style="background-color:#fc5a8d; color:white">Close</button>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
