@model StrawberryHub.Models.StrawberryLikeComment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StrawberryLikeComment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Likes == 1)
            {
                <span class="text-success">✔</span> <!-- Display a tick mark -->
            }
            else
            {
                @Html.DisplayFor(model => model.Likes)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentTimestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentTimestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LikeTimestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LikeTimestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrawberryArticle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrawberryArticle.ArticleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrawberryUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrawberryUser.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
